MemberRegistration.MvcWebUI/Scripts/popper.js linguist-vendored=true
MemberRegistration.MvcWebUI/Scripts/bootstrap.js linguist-vendored=true
MemberRegistration.MvcWebUI/Scripts/popper-utils.js linguist-vendored=true
MemberRegistration.MvcWebUI/Scripts/jquery.validate.js linguist-vendored=true




